.container {
  margin: 3%;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.search-box {
  width: 241px;
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  padding: 6px 2px 6px 12px;
  border-radius: 4px;
  margin-bottom: 3%;
}
.search-box:focus {
  border: 1px solid #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}
.search-shortcut {
  margin-left: -5.5%;
  margin-right: 3%;
  border: 1px solid rgb(206, 212, 218);
  padding: 5px;
  border-radius: 4px;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  border-collapse: collapse;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.search {
  height: 38px;
  width: 100px;
  background-color: azure;
  border-radius: 5px;
  cursor: pointer;
}
.fetch-cities-container {
  display: flex;
  flex-direction: row-reverse;
}
.fetch-cities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22%;
  margin-top: 5%;
}
.fetch-cities > input {
  /* font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  padding: 6px 2px 6px 12px;
  border-radius: 4px;
  margin-bottom: 3%; */
  height: 38px;
  border: 1px solid rgb(206, 212, 218);
}

.fetch-cities > button {
  height: 35px;
  background-color: azure;
  border-radius: 5px;
  cursor: pointer;
}
